* {
    margin: 0px;
    padding: 0px;
    font-family: 'Aldrich';
}

body {
    background-color: rgb(190, 228, 215);
}

header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 75px;
    font-size: 30px;
}

.container-container {
    display: flex;
    justify-content: center;
    
}

.div-container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: solid 5px black;
    align-content: flex-start; 
} 

.div-container div {
    background-color: white;

}

.colorSettings {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.changeColorButton {
    width: 120px;
    height: 60px;
}

.colorInput {
    height: 30px;
    width: 70px;
}


.settings {

    display: flex;
    justify-content: center;
    gap: 50px;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    
}

button {
    width: 100px;
    height: 50px;
    font-size: 23px;
    font-weight: 900;
    border-radius: 10px;
    text-align: center;
}

button:hover {
    background-color: azure;
}

.rainbowButton {
    width: 150px;
}

div input {
    width: 100px;
}


footer {
    display: flex;
    justify-content: center;
}
footer div {
    position: fixed;
    bottom: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    
}

a {
    text-decoration: none;
    color: black;
    font-size: 19px;
}
#icon {
    transition: 0.5s;
}

#icon:hover {
    transform: rotate(360deg) scale(1.2);
}